nav a{
    text-decoration: none;
    color: rgb(69, 70, 42);
}
#nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background-color:rgb(171, 101, 74);
    border: 2px solid rgb(69, 70, 42);
    z-index: 2;
    box-shadow: 10px 10px rgb(213, 176, 98);
}
.navbar{
    float: left;
    padding: 20px;
    text-align: center;
}

.drpdwn{
    display: block;
    padding: 20px;
    text-align: center;
}
.dropdowncontent{
    display: none;
    position: absolute;
    border: 2px solid rgb(69, 70, 42);
    box-shadow: 10px 10px rgb(213, 176, 98);
}
.dropdowncontent a{
    display: block;
    padding: 20px;
    text-decoration: none;
    border-bottom: 2px solid rgb(69, 70, 42);
}
.dropdown:hover .dropdowncontent{
    display: block;
    background-color: rgb(171, 101, 74);
}
body{
    background-color: rgb(245, 243, 201);
}
nav li{
    float: left;
    border-right: 2px solid rgb(69, 70, 42);
}
nav li:last-child{
    border: none;
}
.navbar:hover{
    background-color: rgb(199, 138, 114);
}
.dropdowncontent a:hover{
    background-color: rgb(199, 138, 114);
}
.dropdown:hover{
    background-color: rgb(199, 138, 114);
}
h1{
    margin-top: 80px;
}
#container{
    display: grid;
    grid-template-areas: 
    'banner banner banner'
    'banner banner banner'
    'banner banner banner'
    'heading heading heading'
    'paragraph1 paragraph1 paragraph1'
    'paragraph1 paragraph1 paragraph1'
    'subheading1 subheading1 subheading1'
    'paragraph2 paragraph2 image1'
    'paragraph2 paragraph2 image1'
    'subheading2 subheading2 subheading2'
    'image2 paragraph3 paragraph3'
    'image2 paragraph3 paragraph3'
    'images images images';
    grid-template-rows: repeat(13, 150px);
}
#container div{
    border: 2px solid rgb(69, 70, 42);
    padding: 10px;
    text-align: center;
}
#item1{
    grid-area: banner;
    background-image: url(filler_image.png);
    height: 95%;
}
#item1 h1{
    text-align: center;
    position: absolute;
    left: 30px;
    font-size: 100px;
}
#item2{
    grid-area: heading;
}
#item3{
    grid-area: paragraph1;
}
#item4{
    grid-area: subheading1;
}
#item5{
    grid-area: paragraph2;
}
#item6{
    grid-area: image1;
}
#item7{
    grid-area: subheading2;
}
#item8{
    grid-area: image2;
}
#item9{
    grid-area: paragraph3;
}
#item10{
    grid-area: images;
}
#item2 h1{
    color: rgb(213, 176, 98);
    text-shadow: 5px 5px rgb(69, 70, 42);
    margin: 10px;
    font-size: 100px;
}
p1{
    font-size: 20px;
}